* {
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 85%;
  max-height: 90%;
}

main {
  min-width: 80%;
  max-width: 90%;
  margin-inline: auto;
  margin-block: 1em;
  border-radius: 1em;
  height: 90vh;
}

#addTaskContainer {
  position: absolute;
  bottom: 10%;
  left: 20%;
  transform: translateX(-50%);
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.google-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.google-button:hover {
  background-color: #357ae8;
}

header,
nav,
footer {
  padding-inline: 1em;
}

nav {
  background-color: coral;
  display: flex;
  column-gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 0.25em;
}
nav a {
  color: white;
  text-decoration: none;
}
.login-buttons-container {
  display: flex;
  gap: 1em;
}
.message-board {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.messageList {
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll;
  max-height: 400px;
}

.message-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.message-line {
  margin: 0;
  font-size: 16px;
}

.message-input {
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
}
.message-input label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.chat-form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  min-width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 8px 0px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.participants-list {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.list-room-ul {
  list-style: none;
  padding: 0;
}

.li-room-list {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.roomname-container {
  padding: 15px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
}

.roomname-container:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}
.roomname-container a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.roomname-container a:hover {
  text-decoration: none;
  color: #333;
}
.button-container button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #45a049;
}
.profile-container {
  margin: 20px;
}

.profile-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.profile-info {
  margin-bottom: 10px;
}

.bio-label {
  display: block;
  margin-bottom: 5px;
}

.bio-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-bio-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-bio-button:hover {
  background-color: #45a049;
}

.update-message {
  margin-top: 10px;
  font-weight: bold;
}
.chatroom-header {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  text-align: center;
}
.home-header {
  text-align: center;
  color: #2e4a62;
  margin-bottom: 10px;
}

.home-text-div {
  border: 2px solid #2e4a62;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-text {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}



